template(name='allowed_user')
	tr
		td
			+userTextLink(user=this.user)
		if isApproved
			span Access approved
		if isDenied
			span Access denied
		if isPending
			td
				button(type='button' class="btn btn-success allow" data-userId="#{id}" data-poolId="#{poolId}")
					i(class="fa fa-check")
					| Allow
			td
				button(type='button' class="btn btn-danger deny" data-userId="#{id}" data-poolId="#{poolId}")
					i(class="fa fa-ban")
					| Deny
