template(name="calendar")
	div(class="container-fluid")
		div(class="row-fluid")
			div(class="col-md-8 col-md-offset-2")
				h1 Matches for #{searchDate}
		div(class="row-fluid")
			div(class="col-md-3 col-md-offset-7")
				div(class="form-group")
					div(class='input-group date' id='datetimepicker')
						input(type='text' class="form-control")
						span(class="input-group-addon")
							span(class="glyphicon glyphicon-calendar")
			div(class="col-md-3")
		div(class="row-fluid")
			div(class='col-md-8 col-md-offset-2')
				if matches.count
					table(class='table table-bordered')
						thead
							tr
								th Competition
								th Time
								th Local
								th Local score
								th Visitant score
								th Visitant
								th
						tbody
							each matches
								+match(match=this showDate=false showScore=true showReferee=true)
				else
					p There are no matches for the selected day
