template(name='match')
	tr
		td 
			+competition(competition=matchCompetition imageSize=50)
		if showDate 
			td #{prettyDateTime}
		else
			td #{prettyTime}
		td
			+team(team=local imageSize=50)
		if showScore
			td
				h2(class='text-center') #{score1}
			td
				h2(class='text-center') #{score2}
		td 
			+team(team=visitant imageSize=50)
		td
			a(href='{{pathFor route="matchDetails" id=match._id._str}}') Details
