template(name='pool')
	tr
		td #{amount}
		td #{status_id}
		td #{betCount}
		td #{isPrivate}
		td #{isMultiscore}
		td #{isMultibet}
		td #{isClosest}
		td
			a(href='{{pathFor route="poolDetails" matchId=match_id._str id=_id._str}}') Details
