template(name='poolDetails')
	div(class='container-fluid')
		div(class='row')
			h2(class='text-center') Pool details
		if amIAdmin
			a(href='{{pathFor route="poolAdmin" matchId=matchId id=this.pool._id._str}}')
				| Pool administration
		if amIAllowed
			div(class='row')
				h4(class='text-center') Status: #{displayStatus}
			div(class='row')
				div(class='col-md-10 col-md-offset-1')
					h3 Number of bets : #{betCount}
					h3 Total prize amount: #{totalAmount}
					h3 Pool rules
					span
						b Token amount: 
						| #{pool.amount}
					ul
						if pool.options.multiscore
							li Any score can be chosen multiple times by any user.
						else
							li Any score can be chosen only once.
						if pool.options.multiuser
							li Users can participate multiple times on this pool.
						else
							li Users can participate just once on this pool.
						if pool.options.closest
							li If no one guess the exact score, the prize will be given to the closest guess.
						else
							li If no one guess the exact score, the prize will not be given and everyone will get their tokens back.
			div(class='row')
				div(class='col-md-3 col-md-offset-1')
					if isItOpen 
						if userAlreadyIn
							h3 Your current score: #{userAlreadyIn.localScore} - #{userAlreadyIn.visitantScore}
							h3 #{timeLeft} left for the match
							if pool.options.multiuser
								button(class='btn btn-primary btn-success join' value='Participate') Participate again
						else
							button(class='btn btn-primary btn-success join' value='Participate') Participate
			div(class='row')
				if participants.length
					+userList(users=participants)
				else
					p There are no participants in this pool yet
		else
			if amIRejected
				h4(class='text-center') The pool administrator has denied your access request
			else
				div(class='row')
					h4(class='text-center') You don't have access to view this pool
					div(class='row')
						div(class='col-md-12 text-center')
							if amIWaiting
								button(class='btn btn-primary btn-success' disabled='disabled') Waiting to be accepted
							else 
								button(class='btn btn-primary btn-success request-access' value='RequestAccess') Request access to this pool
