template(name='team')
	div(class='thumbnail')
		a(href='{{pathFor route="teamDetails" id=this.team._id._str}}')
			img(src='#{teamLogo}' width='#{imageSize}' height='#{imageSize}' alt='#{teamName}')
			p(class='text-center') #{teamName}
