template(name='matchDetails')
	div(class='container-fluid')
		div(class='row')
			h3(class='text-center') #{prettyDateTime}
		div(class='row')
			div(class='col-md-3 col-md-offset-1')
				+team(team=local imageSize=150)
			div(class='col-md-3')
				h1(class='text-center') VS
			div(class='col-md-3')
				+team(team=visitant imageSize=150)
		div(class='row')
			h4(class='text-center') Referee: #{arbitro}
		div(class='row')
			h4(class='text-center') Status: #{displayStatus}
		div(class='row')
			if pools.count
				+poolList(pools=pools)
			else
				div(class='col-md-8 col-md-offset-2')
					p There are no pools for this match
		if newPoolsAllowed
			div(class='col-md-8 col-md-offset-2')
				div(class='row text-right')
					button(class='btn btn-primary btn-success new_pool' value='Create a new pool') Create a new pool
